<!--This is the about us page :))-->

{% extends 'base.html' %}

{% block body %}

<h1>About Us!</h1>
<h7>Hello friend/stranger, how are you today?
    I'll be honest with you, I'm not the best coder in the world so be patient should there be any scuffed parts here and there. 
    The point of my project is to give a space for people like you and me. In highschool it feels like a crowded, nausiating cage and
    it's uncomfortable and that makes sense. It's a new place with people that you probably met only a few days ago. That's alright though. 
    This space is to be able to have a voice without feeling reprocussions of being shunned. A place to scream into the void. And hopefully 
    this void will answer back sometimes. Enjoy your stay here!

</h7>

{% endblock %}